@{
    ViewBag.Title = "Polly / Constructor / Add new poll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/App/Controllers/constructorController.js"></script>
<script src="~/Scripts/App/Directives/enterDirective.js"></script>
<div ng-controller="constructorController as mainCtrl">
    <section class="container-fluid intro">
        
    </section>
    <section class="container-fluid add-poll">
           
        <div ng-include src="template">


        </div>
        <div class="row text-center">
            <a ng-href="" ng-click="changeTemplate()"><button type="button" class="btn btn-install">Next</button></a>
             
        </div>
    </section>
</div>