@{
    ViewBag.Title = "Polly / Constructor / Add new poll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/App/Services/JSONService.js"></script>
<script src="~/Scripts/App/Services/pollBuilderService.js"></script>
<script src="~/Scripts/App/Services/recoveryService.js"></script>
<script src="~/Scripts/App/Controllers/constructorController.js"></script>
<script src="~/Scripts/App/Directives/enterDirective.js"></script>
<div ng-controller="constructorController as mainCtrl" ng-init="mainCtrl.init();">
    <div class="container-fluid">
        <div class="wizard_horizontal container hidden-xs">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="wizard_steps">
                        <li ng-repeat="steps in steps">
                            <a href="" ng-class="{'done' : steps.isDone, 'selected' : steps.step == step}">
                                <span class="step_no">{{$index + 1}}</span>
                                <span class="description">
                                    <small>{{steps.title}}</small>
                                </span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div ng-include src="step">

        </div>

    </div>
    
</div>
