@{
    ViewBag.Title = "Polly / Constructor / Add new poll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid intro">
    <div class="container">
        <div class="row center intro-content">
            <h2>Small intro</h2>
            <img src="~/Content/images/macbookhalf.png" />
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="container">
        <div class="row center">
            <h2>Work space</h2>
        </div>
        <div class="row">
            <!-- WORK SPACE HERE -->
        </div>
    </div>
</section>