@{
    ViewBag.Title = "Polly / Constructor / Add new poll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/App/Services/JSONService.js"></script>
<script src="~/Scripts/App/Services/pollBuilderService.js"></script>
<script src="~/Scripts/App/Controllers/constructorController.js"></script>
<script src="~/Scripts/App/Directives/enterDirective.js"></script>
<div ng-controller="constructorController as mainCtrl" ng-init="mainCtrl.init();">

    <div class="wizard_horizontal container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ul class="wizard_steps">
                    <li>
                        <a href="#step-1" class="selected">
                            <span class="step_no">1</span>
                            
                        </a>
                    </li>
                    <li>
                        <a href="#step-2" class="done">
                            <span class="step_no">2</span>
                            
                        </a>
                    </li>
                    <li>
                        <a href="#step-3" class="done">
                            <span class="step_no">3</span>
                           
                        </a>
                    </li>
                    <li>
                        <a href="#step-4" class="done">
                            <span class="step_no">4</span>
                            
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <section class="container-fluid add-poll">
        
        <div ng-include src="step">


        </div>


    </section>
</div>
