@{
    ViewBag.Title = "Polly / Constructor / Add new poll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/App/Services/pollBuilderService.js"></script>
<script src="~/Scripts/App/Controllers/constructorController.js"></script>
<script src="~/Scripts/App/Directives/enterDirective.js"></script>
<div ng-controller="constructorController as mainCtrl" ng-init="mainCtrl.init();">
    <section class="container-fluid intro">
        
    </section>
    <section class="container-fluid add-poll">
           @if (!Request.IsAuthenticated)
            {
            <div class="alert alert-info alert-dismissible information" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img src="/Content/images/info.png" /> If you are not logged in , your survey will not be published!
            </div>
           }
        <div ng-include src="template">
            

        </div>
        
        <div class="row text-center footer">
            <a ng-href="" ng-click="changeTemplate()" ng-show="count==1 || count==2"><button type="button" class="btn btn-install">Next</button></a>
            <button class="btn btn-success" ng-click="savePoll()" ng-show="count==3">SAVE POLL</button>
        </div>
    </section>
</div>