USE [master]
GO
/****** Object:  Database [PollyDb]    Script Date: 5/5/2016 11:13:16 PM ******/
CREATE DATABASE [PollyDb]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PollyDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PollyDb]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 5/5/2016 11:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[OrderValue] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
 CONSTRAINT [PK_Answer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[CodeSet]    Script Date: 5/5/2016 11:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodeSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodeText] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CodeSetId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[PollAccess]    Script Date: 5/5/2016 11:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PollAccess](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Value] [int] NOT NULL,
 CONSTRAINT [PK_PollAccess] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[PollShare]    Script Date: 5/5/2016 11:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PollShare](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Value] [int] NOT NULL,
 CONSTRAINT [PK_PollShare] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[PollType]    Script Date: 5/5/2016 11:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PollType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Value] [int] NOT NULL,
 CONSTRAINT [PK_PollType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Project]    Script Date: 5/5/2016 11:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[UserId] [int] NOT NULL,
	[TypeId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_Project_IsActive]  DEFAULT ((1)),
	[ShareId] [int] NOT NULL,
	[UrlCode] [nvarchar](50) NOT NULL,
	[AccessId] [int] NOT NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[ProjectAccessVoters]    Script Date: 5/5/2016 11:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectAccessVoters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsUsed] [bit] NULL,
	[CodeSetId] [int] NULL,
	[UserSetId] [int] NULL,
	[ProjectId] [int] NOT NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_ProjectAccessVoters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Question]    Script Date: 5/5/2016 11:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[QuestionTypeId] [int] NOT NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[QuestionType]    Script Date: 5/5/2016 11:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Value] [int] NOT NULL,
 CONSTRAINT [PK_QuestionType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Result]    Script Date: 5/5/2016 11:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
	[VoterId] [int] NOT NULL,
	[AnswerId] [int] NOT NULL,
 CONSTRAINT [PK_Result] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[User]    Script Date: 5/5/2016 11:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](50) NULL,
	[Salt] [nvarchar](50) NULL,
	[Logo] [nvarchar](max) NULL,
	[PermissionId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[UserPermission]    Script Date: 5/5/2016 11:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPermission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[LevelPermission] [int] NOT NULL,
 CONSTRAINT [PK_UserPermission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[UserSet]    Script Date: 5/5/2016 11:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[IPAdrress] [nvarchar](50) NULL,
	[MACAdrress] [nvarchar](50) NULL,
	[CookieValue] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET IDENTITY_INSERT [dbo].[Answer] ON 

INSERT [dbo].[Answer] ([Id], [Value], [OrderValue], [QuestionId]) VALUES (1, N'sdfsdf', 1, 4)
INSERT [dbo].[Answer] ([Id], [Value], [OrderValue], [QuestionId]) VALUES (2, N'sdfsdf', 1, 4)
INSERT [dbo].[Answer] ([Id], [Value], [OrderValue], [QuestionId]) VALUES (3, N'sdfsdfsdf', 1, 4)
GO
SET IDENTITY_INSERT [dbo].[Answer] OFF
SET IDENTITY_INSERT [dbo].[CodeSet] ON 

INSERT [dbo].[CodeSet] ([Id], [CodeText]) VALUES (1, N'ba526db07e')
INSERT [dbo].[CodeSet] ([Id], [CodeText]) VALUES (2, N'2a24502449')
INSERT [dbo].[CodeSet] ([Id], [CodeText]) VALUES (3, N'ad6f5a27fe')
GO
SET IDENTITY_INSERT [dbo].[CodeSet] OFF
SET IDENTITY_INSERT [dbo].[PollAccess] ON 

INSERT [dbo].[PollAccess] ([Id], [Name], [Value]) VALUES (1, N'FreeLink', 1)
INSERT [dbo].[PollAccess] ([Id], [Name], [Value]) VALUES (2, N'UserSet', 2)
INSERT [dbo].[PollAccess] ([Id], [Name], [Value]) VALUES (3, N'CodeSet', 3)
SET IDENTITY_INSERT [dbo].[PollAccess] OFF
SET IDENTITY_INSERT [dbo].[PollShare] ON 

INSERT [dbo].[PollShare] ([Id], [Name], [Value]) VALUES (1, N'Public', 1)
INSERT [dbo].[PollShare] ([Id], [Name], [Value]) VALUES (2, N'Private', 2)
INSERT [dbo].[PollShare] ([Id], [Name], [Value]) VALUES (3, N'-', 3)
SET IDENTITY_INSERT [dbo].[PollShare] OFF
SET IDENTITY_INSERT [dbo].[PollType] ON 

INSERT [dbo].[PollType] ([Id], [Name], [Value]) VALUES (1, N'Single', 1)
INSERT [dbo].[PollType] ([Id], [Name], [Value]) VALUES (2, N'Multiply', 2)
INSERT [dbo].[PollType] ([Id], [Name], [Value]) VALUES (3, N'Quiz', 3)
SET IDENTITY_INSERT [dbo].[PollType] OFF
SET IDENTITY_INSERT [dbo].[Project] ON 

INSERT [dbo].[Project] ([Id], [Name], [CreatedOn], [ModifiedOn], [UserId], [TypeId], [IsActive], [ShareId], [UrlCode], [AccessId]) VALUES (7, N'qweqwe', CAST(N'2016-02-19 00:34:48.973' AS DateTime), CAST(N'2016-02-19 00:34:48.973' AS DateTime), 6, 2, 1, 2, N'f5fb4d5c3e', 1)
INSERT [dbo].[Project] ([Id], [Name], [CreatedOn], [ModifiedOn], [UserId], [TypeId], [IsActive], [ShareId], [UrlCode], [AccessId]) VALUES (8, N'efwefwef', CAST(N'2016-02-24 22:48:59.843' AS DateTime), CAST(N'2016-02-24 22:48:59.843' AS DateTime), 6, 2, 1, 3, N'560c45db56', 2)
INSERT [dbo].[Project] ([Id], [Name], [CreatedOn], [ModifiedOn], [UserId], [TypeId], [IsActive], [ShareId], [UrlCode], [AccessId]) VALUES (9, N'asfasf', CAST(N'2016-03-01 00:03:11.560' AS DateTime), CAST(N'2016-03-01 00:03:11.560' AS DateTime), 6, 2, 1, 1, N'ebd1ee34ca', 2)
GO
SET IDENTITY_INSERT [dbo].[Project] OFF
SET IDENTITY_INSERT [dbo].[ProjectAccessVoters] ON 

INSERT [dbo].[ProjectAccessVoters] ([Id], [IsUsed], [CodeSetId], [UserSetId], [ProjectId], [ModifiedOn]) VALUES (1, 0, 1, NULL, 12, NULL)
INSERT [dbo].[ProjectAccessVoters] ([Id], [IsUsed], [CodeSetId], [UserSetId], [ProjectId], [ModifiedOn]) VALUES (2, 0, 2, NULL, 12, NULL)
INSERT [dbo].[ProjectAccessVoters] ([Id], [IsUsed], [CodeSetId], [UserSetId], [ProjectId], [ModifiedOn]) VALUES (3, 0, 3, NULL, 12, NULL)
GO
SET IDENTITY_INSERT [dbo].[ProjectAccessVoters] OFF
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([Id], [Value], [ProjectId], [QuestionTypeId]) VALUES (4, N'dsfsdf', 7, 1)
INSERT [dbo].[Question] ([Id], [Value], [ProjectId], [QuestionTypeId]) VALUES (5, N'dfsdfsdf', 7, 1)
INSERT [dbo].[Question] ([Id], [Value], [ProjectId], [QuestionTypeId]) VALUES (6, N'qweqwe', 8, 1)
GO
SET IDENTITY_INSERT [dbo].[Question] OFF
SET IDENTITY_INSERT [dbo].[QuestionType] ON 

INSERT [dbo].[QuestionType] ([Id], [Name], [Value]) VALUES (1, N'Single', 1)
INSERT [dbo].[QuestionType] ([Id], [Name], [Value]) VALUES (2, N'Multiple', 2)
SET IDENTITY_INSERT [dbo].[QuestionType] OFF
SET IDENTITY_INSERT [dbo].[Result] ON 

INSERT [dbo].[Result] ([Id], [QuestionId], [ProjectId], [VoterId], [AnswerId]) VALUES (6, 128, 70, 195, 263)
INSERT [dbo].[Result] ([Id], [QuestionId], [ProjectId], [VoterId], [AnswerId]) VALUES (7, 129, 70, 195, 265)
INSERT [dbo].[Result] ([Id], [QuestionId], [ProjectId], [VoterId], [AnswerId]) VALUES (8, 130, 70, 195, 266)
SET IDENTITY_INSERT [dbo].[Result] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [FirstName], [LastName], [Email], [Password], [Salt], [Logo], [PermissionId]) VALUES (2, N'Dmitriy', N'Ivlev', N'dimkajasons@gmail.com', N'073d2df4245be2877fabcd569ab76113', N'1eb2', NULL, 1)
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [Email], [Password], [Salt], [Logo], [PermissionId]) VALUES (6, N'sanya', N'axel', N'sanyaaxel94@gmail.com', N'2631a36610fb3d31de6314e0ea22c5e8', N'1337', NULL, 1)
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [Email], [Password], [Salt], [Logo], [PermissionId]) VALUES (15, N'123', N'321', N'098@098mail.ru', N'663634b310dd80820ac14c827f86a1b3', N'4cf3', NULL, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserPermission] ON 

INSERT [dbo].[UserPermission] ([Id], [Name], [LevelPermission]) VALUES (1, N'Basic', 1)
SET IDENTITY_INSERT [dbo].[UserPermission] OFF
SET IDENTITY_INSERT [dbo].[UserSet] ON 

INSERT [dbo].[UserSet] ([Id], [UserId], [IPAdrress], [MACAdrress], [CookieValue]) VALUES (1, 6, NULL, NULL, NULL)
INSERT [dbo].[UserSet] ([Id], [UserId], [IPAdrress], [MACAdrress], [CookieValue]) VALUES (2, 6, NULL, NULL, NULL)
INSERT [dbo].[UserSet] ([Id], [UserId], [IPAdrress], [MACAdrress], [CookieValue]) VALUES (3, 6, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserSet] OFF
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [Answer_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Question] ([Id])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [Answer_QuestionId]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_PollShare] FOREIGN KEY([ShareId])
REFERENCES [dbo].[PollShare] ([Id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_PollShare]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_PollType] FOREIGN KEY([TypeId])
REFERENCES [dbo].[PollType] ([Id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_PollType]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_User]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [Project_AccessId_FK] FOREIGN KEY([AccessId])
REFERENCES [dbo].[PollAccess] ([Id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [Project_AccessId_FK]
GO
ALTER TABLE [dbo].[ProjectAccessVoters]  WITH CHECK ADD  CONSTRAINT [FK_ProjectAccessVoters_CodeSet] FOREIGN KEY([UserSetId])
REFERENCES [dbo].[UserSet] ([Id])
GO
ALTER TABLE [dbo].[ProjectAccessVoters] CHECK CONSTRAINT [FK_ProjectAccessVoters_CodeSet]
GO
ALTER TABLE [dbo].[ProjectAccessVoters]  WITH CHECK ADD  CONSTRAINT [FK_ProjectAccessVoters_CodeSet1] FOREIGN KEY([CodeSetId])
REFERENCES [dbo].[CodeSet] ([Id])
GO
ALTER TABLE [dbo].[ProjectAccessVoters] CHECK CONSTRAINT [FK_ProjectAccessVoters_CodeSet1]
GO
ALTER TABLE [dbo].[ProjectAccessVoters]  WITH CHECK ADD  CONSTRAINT [FK_ProjectAccessVoters_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[ProjectAccessVoters] CHECK CONSTRAINT [FK_ProjectAccessVoters_Project]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_QuestionType] FOREIGN KEY([QuestionTypeId])
REFERENCES [dbo].[QuestionType] ([Id])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_QuestionType]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Answer] FOREIGN KEY([AnswerId])
REFERENCES [dbo].[Answer] ([Id])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Answer]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Project]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_ProjectAccessVoters] FOREIGN KEY([VoterId])
REFERENCES [dbo].[ProjectAccessVoters] ([Id])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_ProjectAccessVoters]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Question] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Question] ([Id])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Question]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserPermission] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[UserPermission] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserPermission]
GO
ALTER TABLE [dbo].[UserSet]  WITH CHECK ADD  CONSTRAINT [FK_UserSet_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserSet] CHECK CONSTRAINT [FK_UserSet_User]
GO
USE [master]
GO
