<div ng-controller="accountPollResultController as pollCtrl">
    <div class="page-title">
        <div class="title_left">
            <h3>Project title <small> status</small></h3>
        </div>

        <div class="title_right">

        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>New Partner Contracts Consultancy</h2>

                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <ul class="stats-overview">
                            <li>
                                <span class="name"> Estimated budget </span>
                                <span class="value text-success"> 2300 </span>
                            </li>
                            <li>
                                <span class="name"> Total amount spent </span>
                                <span class="value text-success"> 2000 </span>
                            </li>
                            <li class="hidden-phone">
                                <span class="name"> Estimated project duration </span>
                                <span class="value text-success"> 20 </span>
                            </li>
                        </ul>

                        <div class="row">
                            <!--POLL SETINGS-->
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Questions <small>500</small></h2>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                    <div class="row row-table-head">
                                        <div class="col-xs-1">#</div>
                                        <div class="col-md-7 col-xs-5">Title question</div>
                                        <div class="col-xs-2">Total answers</div>
                                        <div class="col-xs-2">Actions</div>

                                    </div>

                                    <div class="row row-table" addrow>
                                        <div class="col-xs-1">1</div>
                                        <div class="col-md-7 col-xs-5">asdasd as dasd as dasdasd asd as d</div>
                                        <div class="col-xs-2">250</div>
                                        <div class="col-xs-2">View Edit Delete</div>
                                    </div>
                                    <div class="row added-row">
                                        <div class="col-xs-12">
                                            asdasd asdhasuidghasuig dasidu
                                        </div>
                                    </div>
                                    <div class="row row-table" addrow>
                                        <div class="col-xs-1">1</div>
                                        <div class="col-md-7 col-xs-5">asdasd as dasd as dasdasd asd as d</div>
                                        <div class="col-xs-2">250</div>
                                        <div class="col-xs-2">View Edit Delete</div>
                                    </div>
                                    <div class="row added-row">
                                        <div class="col-xs-12">
                                            asdasd asdhasuidghasuig dasidu
                                        </div>
                                    </div>
                                    <div class="row row-table" addrow>
                                        <div class="col-xs-1">1</div>
                                        <div class="col-md-7 col-xs-5">asdasd as dasd as dasdasd asd as d</div>
                                        <div class="col-xs-2">250</div>
                                        <div class="col-xs-2">View Edit Delete</div>
                                    </div>
                                    <div class="row added-row">
                                        <div class="col-xs-12">
                                            asdasd asdhasuidghasuig dasidu
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>