
<div ng-controller="accountPollController as pollCtrl" ng-init="pollCtrl.init()" class="row">
    <div class="col-md-2 col-xs-12" ng-repeat="poll in pollCtrl.pollList">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{poll.Name}}</span>
                </md-card-title-text>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                   
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </md-card-title>
            <highchart id="chart1"
                       config="poll.chart">
            </highchart>
            <md-card-content>
                <div style="text-align: center; margin-bottom: 15px;">
                    <md-card-actions layout="row" layout-align="center">
                        <md-button ng-click="pollCtrl.openPollResult(poll.Id)">Open</md-button>
                        <md-button ng-click="pollCtrl.deletePoll(poll.Id)">Delete</md-button>
                    </md-card-actions>
                </div>

                <div>
                    <ul class="list-inline widget_tally">
                        <li>
                            <p>
                                <span class="month">Project Type</span>
                                <span class="count">{{poll.Type}}</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span class="month">Project Status</span>
                                <span class="count">{{poll.IsActive?"Active":"Deactive"}}</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span class="month">Users Have Voted</span>
                                <span class="count">{{poll.Voted}}</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span class="month">Poll Url</span>
                                <span class="count">{{pollCtrl.getUrl(poll.UrlCode)}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </md-card-content>
          
        </md-card>
    </div>
</div>
