<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://thepolly.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>thepolly.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>thepolly</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$thepolly</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=PollyApp.mssql.somee.com;Initial Catalog=PollyApp;Persist Security Info=False;User ID=SanyaAxel123_SQLLogin_1;Password=6exkx1k923;Packet Size=4096;Workstation ID=PollyApp.mssql.somee.com" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PollyApp.EFModel.Entities, PollyApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=PollyApp.mssql.somee.com;Initial Catalog=PollyApp;Persist Security Info=False;User ID=SanyaAxel123_SQLLogin_1;Password=6exkx1k923;Packet Size=4096;Workstation ID=PollyApp.mssql.somee.com" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-PollyApp-20151103144351.mdf;Initial Catalog=aspnet-PollyApp-20151103144351;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-PollyApp-20151103144351;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-PollyApp-20151103144351.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=PollyApp.mssql.somee.com;Initial Catalog=PollyApp;Persist Security Info=False;User ID=SanyaAxel123_SQLLogin_1;Password=6exkx1k923;Packet Size=4096;Workstation ID=PollyApp.mssql.somee.com</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/EFModel.PollyDbEntities.csdl|res://*/EFModel.PollyDbEntities.ssdl|res://*/EFModel.PollyDbEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=PollyApp.mssql.somee.com;Initial Catalog=PollyApp;Persist Security Info=False;User ID=SanyaAxel123_SQLLogin_1;Password=6exkx1k923;Packet Size=4096;Workstation ID=PollyApp.mssql.somee.com"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>