<div class="step-number">
    
</div>

<div class="container add-poll-content">
    <div class="step-title">
        Let's get started
    </div>
    <div class="step-number">
        <strong>Choose type!</strong> Be careful, type cant't be changed, when poll have already created.
    </div>

    <div class="row choose-type">
        <div class="col-lg-3 col-xs-12 col-lg-offset-1 col-xs-offset-0 col-sm-offset-0 card card-md" ng-repeat="val in poll_type" ng-click="setPollType(val, $event);" ng-class="{'disabled': val.label == 'Quiz'}">
            <div class="header-card">
                <img src="/Content/images/layout22.png" class="img-thumbnail" />
            </div>
            <div class="content-card-md content-card text-justify">
                <div ng-include src="val.path">
                </div>
            </div>
            <div class="footer-card">
                
                    <div class="col-lg-6 orange">
                       {{val.label}}
                    </div>
                   
                
            </div>
        </div>
        <div class="text-center">
            <md-button class="md-raised" ng-show="isBuilder" ng-click="setStep(settingsView.step4)">To builder</md-button>
        </div>
        
    </div>


</div>