<div class="row work-space">
    <div class="col-lg-2 sidebar-install">
        <div class="text-uppercase title">Process</div>
        <ol class="pills">
            <li class="good">Сhoosing type...</li>
            <li>Choose premission</li>
            <li>Choose access</li>
        </ol>
    </div>
    <div class="col-lg-8 text-center wrapper-install">
        <h1>WORK SPACE</h1>
        <img src="../Content/images/foto_alexander.jpg" />
        <a ng-href="" ng-click="template='ChooseAccess.html'"><button type="button" class="btn btn-primary btn-lg">Next (perm)</button></a>
        
    </div>
    <div class="col-lg-2 text-right sidebar-install-right">
        <h1>SIDEBAR RIGHT</h1>
    </div>

</div>