<div class="step-number">
    Step 2 of 3
</div>
<div class="alert alert-info alert-dismissible information" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <img src="/Content/images/info.png" /> If you are not logged in , your survey will not be published!
</div>
<div class="container add-poll-content">
    <div class="step-title">
        Set access rights!
    </div>
    <div class="step-number">
        You can always change the access rights
    </div>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 card">
            <div class="header-card ">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger" >{{choosed}}</button>
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-repeat="type in access_types" ng-click="setAccess(type.name)">{{type.name}}</a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="content-card">
                <div ng-include src="access_type">


                </div>          
            </div>
           
        </div>


    </div>
    
    
</div>