@{
    ViewBag.Title = "ChooseType";
}

<h2>ChooseType</h2>
<div class="col-lg-3 poll-cart">
    <header>
        <div class="poll-type-title center">
            Type1
        </div> 
    </header>
    <div>
        <img src="~/Content/images/layout1.png" />

    </div>
    
</div>
<div class="col-lg-3 poll-cart">
    <header>
        <div class="poll-type-title center">
            Type1
        </div> 
    </header>
    <div>
        <img src="~/Content/images/layout1.png" />

    </div>
</div>
<div class="col-lg-3 poll-cart">
    <header>
        <div class="poll-type-title center">
            Type3
        </div> 
    </header>
    <div>
        <img src="~/Content/images/layout1.png" />
    </div>
</div>