 <div class="step-number">
    Step 2 of 3
</div>

<div class="container add-poll-content">
    <div class="step-title">
        Set access rights!
    </div>
    <div class="step-number">
        You can always change the access rights
    </div>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 card">
            <div class="header-card text-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger" >{{choosed}}</button>
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                        <a href="#" ng-repeat="type in access_types" ng-click="setAccess(type);">
                            {{type.label}}
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="content-card">
                <div ng-include src="partialAccessPath">
                </div>          
            </div>
           
        </div>


    </div>
   
    
</div>
<div class="text-center">
    <button type="button" ng-click="setStep(settingsView.step3)" ng-disabled="access_set_complete==null" ng-show="!isBuilder" class="btn btn-install">Next</button>
    <md-button class="md-raised" ng-show="isBuilder" ng-click="setStep(settingsView.step4)">To builder</md-button>
</div>