<div class="settings-card" ng-show="Settings.IsShown">
    <p>
        <input type="radio" ng-value="1" ng-model="currentBlock.questionType" name="singormult" id="single" ng-checked="true" class="css-radio" /> <label for="single" class="css-labelr">Single choice</label>
        <input type="radio" ng-value="2" ng-model="currentBlock.questionType" name="singormult" id="multiple" class="css-radio" /> <label for="multiple" class="css-labelr">Multiple choice</label><br />
    </p>
    <md-button class="md-raised" flex="100" flex-gt-md="auto" ng-click="applySettings()">
        Apply
    </md-button>
</div>