@{
    ViewBag.Title = "Poll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid poll-page">
    <div class="container">
        <div class="poll-title">
            LZXHDSA DIUS AGDIUS AGDUI GASUID GUIASD UAS
        </div>
    </div>
</div>
