@{
    ViewBag.Title = "Poll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid poll-page">
    <div class="container">
        <div class="poll-title">
           <h1>My first poll</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 card">
                <div class="img-card">
                    <img src="~/Content/images/flat.jpg" />
                </div>
            </div>
            <div class="col-lg-3 card">

            </div>
            <div class="col-lg-3 card">

            </div>
        </div>
    </div>
</div>
