@{
    ViewBag.Title = "Poll";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <script src="~/Scripts/jquery-1.11.3.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/animate-colors.js"></script>
    <!--<script src="~/Scripts/front-end/navigation-scroll.js"></script>-->
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-1.0.3.js"></script>
    <script src="~/Scripts/App/app.js"></script>
    <script src="~/Scripts/App/Factory/pollSettingsFactory.js"></script>
    <script src="~/Scripts/App/Services/headerKeeperService.js"></script>
    <script src="~/Scripts/App/Controllers/headerController.js"></script>


</head>
<body ng-app="Polly" style="background-image: url(Content/images/page-background.png) !important; background-repeat:repeat;">
    <div class="poll-page">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center logo">
            <a href="/"><img src="~/Content/images/pollylogo2.png" /></a>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center logo text-uppercase poll-title">
            choice among large companies
        </div>
        
            <div class="col-lg-2 col-sm-12 col-md-6 col-lg-offset-3">
                <div class="thumbnail">
                    <img src="~/Content/images/Polls/123456.jpg" alt="...">
                    <div class="caption">
                        <h2>Apple or orange?</h2>
                    
                        <p>
                            <form name="appleororange" method="post">
                                <input type="checkbox" name="apple" id="apple" class="css-checkbox"/> <label for="apple" class="css-label">Apple</label><br />
                                <input type="checkbox" name="orange" id="orange" class="css-checkbox"/> <label for="orange" class="css-label">Orange</label><br />
                            </form>

                        </p>
                        <p><button class="btn-vote">VOTE</button></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-12 col-md-6">
                <div class="thumbnail">
                    <img src="~/Content/images/Polls/1234567.jpg" alt="...">
                    <div class="caption">
                        <h2>Apple or Microsoft?</h2>
                        <p>
                            <form name="appleormicrosoft" method="post">
                                <input type="radio" name="1234567" id="apple1234567" class="css-radio" /> <label for="apple1234567" class="css-labelr">Apple</label><br />
                                <input type="radio" name="1234567" id="microsoft1234567" class="css-radio" /> <label for="microsoft1234567" class="css-labelr">Microsoft</label><br />
                            </form>

                        </p>
                        <p><button class="btn-vote">VOTE</button></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-12 col-md-6">
                <div class="thumbnail">
                    <img src="~/Content/images/Polls/12345678.jpg" alt="...">
                    <div class="caption">
                        <h2>Android vs iOS?</h2>
                    
                        <p>
                            <form name="appleororange" method="post">
                                <input type="radio" name="12345678" id="android12345678" class="css-radio" /> <label for="android12345678" class="css-labelr">Android</label><br />
                                <input type="radio" name="12345678" id="apple12345678" class="css-radio" /> <label for="apple12345678" class="css-labelr">Apple</label><br />
                            </form>

                        </p>
                        <p><button class="btn-vote">VOTE</button></p>
                    </div>
                </div>
            </div>
    
    
    </div>
    
</body>
</html>
