@{
    ViewBag.Title = "Poll";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link href="~/Content/angular-material.min.css" rel="stylesheet" />
    <link href="~/Content/angular-material.layouts.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <script src="~/Scripts/jquery-1.11.3.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-aria/angular-aria.js"></script>
    <script src="~/Scripts/App/Modules/ngAnimation.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/angular-material/angular-material.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/App/app.js"></script>
    <script src="~/Scripts/App/Services/modalService.js"></script>
    <script src="~/Scripts/App/Factory/pollSettingsFactory.js"></script>
    <script src="~/Scripts/App/Controllers/pollController.js"></script>

</head>
<body ng-app="Polly" ng-controller="pollController as ctrl" ng-init="ctrl.init()" style="background-image: url(Content/images/page-background.png) !important; background-repeat:repeat;">
    <div class="poll-page">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center logo">
            <a href="/"><img src="~/Content/images/pollylogo2.png" /></a>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center logo text-uppercase poll-title">
           {{data.Project.Name}}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 timer">
                    <div class="row-timer"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">      
                <div class="col-lg-4 col-sm-12 col-md-6" ng-repeat="it in data.Questions">
                    <div ng-switch on="it.Question.QuestionType">
                        <div ng-switch-when="1">
                            <div class="thumbnail">
                                <img src="~/Content/images/Polls/polly.jpg" alt="...">
                                <div class="caption">
                                    <h2>{{it.Question.Value}}</h2>
                                    <p ng-repeat="answ in it.Answers">
                                        <input type="radio" ng-value="{{answ.Id}}" ng-model="ctrl.result[it.Question.Id][answ.Id]" name="{{it.Question.Id}}" id="{{answ.Id}}" class="css-radio" /> <label for="{{answ.Id}}" class="css-labelr">{{answ.Value}}</label><br />
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div ng-switch-when="2">
                            <div class="thumbnail">
                                <img src="~/Content/images/Polls/polly.jpg" alt="...">
                                <div class="caption">
                                    <h2>{{it.Question.Value}}</h2>
                                    <p ng-repeat="answ in it.Answers">
                                        <input type="checkbox"   ng-true-value="{{answ.Id}}" ng-false-value=null   ng-model="ctrl.result[it.Question.Id][answ.Id]" name="{{it.Question.Id}}" id="{{answ.Id}}" class="css-checkbox" /> <label for="{{answ.Id}}" class="css-label">{{answ.Value}}</label><br />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <button ng-click="ctrl.save($event)" ng-disabled="ctrl.isVote" class="btn-vote">SAVE ANSWER</button>
            </div>
        </div>
        
    </div>
    
</body>
</html>
