
@font-face {
    font-family: OpenSans;
    src: url(../../fonts/OpenSans-Regular.ttf);
}

body {
    padding: 0;
    margin: 0;
    background: #f3f6f8;
    font-family: OpenSans;
}

a {
    color: #ffffff;
}

.big {
    font-size: 60px;
    font-weight: bold;
}

.center {
    text-align: center;
}

.last {
    margin: 0 !important;
}


#about, #feedback, #wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
}

.portrait {
    height: 200px;
}
.portrait-mini {
    height: 30px;
    margin: 5px 5px 0px 5px;
}
.textbox{
    margin-bottom:10px;
}
/*---------------------------------------------*/
/*--------------HEADER SECTION-----------------*/
/*---------------------------------------------*/


#header {
    padding-top: 20px;
    color: white;
    padding-bottom: 20px;
    height: auto;
    background: url(../images/bg2.jpg);
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size: cover;
}

#navigation {
}

.scroll-button {
    background: url(../images/computer147.png);
    border: none;
    opacity: 0.5;
    width: 45px;
    height: 45px;
    background-position: center;
    background-repeat: no-repeat;
}

.scroll-button:hover {
    background: url(../images/computer147.png);
    border: none;
    opacity: 1;
    width: 45px;
    height: 45px;
    background-position: center;
    background-repeat: no-repeat;
}

.scroll-button:focus, .scroll-button:active {
    border: none;
}

.scroll-button:active {
    border: none;
}

.right-menu {
    line-height: 0px;
}



.desc {
    color: #1abc9c;
}

#logo {
    margin-right: 75px;
    margin-top: -5px;
    text-align: left;
}

.header-content .desc {
    margin-top: 35px;
    font-size: 20px;
}

.button-create {
    font-size: 12px;
    padding-left: 40px;
    padding-right: 40px;
    height: 50px;
    font-weight: bolder;
    background: none;
    border: 2px solid #1abc9c;
    border-radius: 3px;
    color: white;
}

.button-create:hover, .button-create:focus {
    outline: 0;
    font-size: 12px;
    padding-left: 40px;
    padding-right: 40px;
    height: 50px;
    font-weight: bolder;
    color: #ffffff;
    background: rgba(255,255,255,0);
    border: 2px solid #16a085;
    border-radius: 3px;
}

.createpoll {
    margin-top: 90px;
    text-align: center;
}


/*---------------------------------------------*/
/*--------------MACBOOK SECTION----------------*/
/*---------------------------------------------*/
#wrapper {
    color: #34495e;
}

/*---------------------------------------------*/
/*----------------ABOUT SECTION----------------*/
/*---------------------------------------------*/
#about {
    background: #edeeef;
    color: #34495e;
}


.moreinfobutton {
    height: 52px;
    width: 202px;
    background: none;
    border: 1px solid #000000;
    color: #000000;
    margin-bottom: 0px;
}

.moreinfobutton:hover, .moreinfobutton:focus {
    outline: 0;
    border: 1px solid #8e8f8f;
    background: rgba(0,0,0,0.4);
    color: #ffffff;
}

.icon-about[align=left] {
    margin-right: 10px;
}

.icon-about[align=right] {
    margin-left: 10px;
}

.moreinfo {
    text-align: center;
}
/*---------------------------------------------*/
/*--------------FEEDBACK SECTION---------------*/
/*---------------------------------------------*/


/*---------------------------------------------*/
/*---------------FOOTER SECTION----------------*/
/*---------------------------------------------*/
#bottom-part {
    /*background:url(../images/bg.jpg);
    background-attachment:fixed;
    background-position:center;*/
}

#footer {
    background: #2c3e50;
    padding:10px 10px 20px 10px;
    font-family:OpenSans-light;
    
}
.intro {
    background-color: #34495e;
    padding:55px 10px 0 10px;
    color:#ffffff;
}
.information{
    font-size:12px;
    margin-top:25px;
    color: #777777;
}
.information > img{
    margin-top:-2px;
    margin-right:10px;
}
  @font-face {
    font-family: OpenSans-light;
    src: url(../../fonts/OpenSans-Light.ttf);
    }
.feedback-form{
    
    color:white;
    text-align:justify;
}
#footer .title{
    font-size:24px;
    border-bottom:1px solid #1abc9c;
    margin-bottom:10px;
}
.feedback-form > .footer-area {
    margin-top:15px;
}
#footer .row{
    color:#ffffff;
}
#footer .row .col-lg-4:hover .title{
    border-bottom:1px solid #e67e22;
}
.add-poll-content{
}
.wrapper-install{
}
.sidebar-install{
    border-right:1px solid #f2f3f3;
    
}
.sidebar-install-right{
    border-left:1px solid #f2f3f3;
}
.work-space{
    border:1px solid #f2f3f3;
    padding:10px;
    background:#ffffff;
}
.work-space .title{
    font-size:18px;
    
}
.card{
    margin-top:50px;
    margin-bottom:50px;
    background:#ffffff;
    border:1px solid #dce5eb;
    padding:0px;
    font-family:Calibri;
    font-weight:bold;
    color:#a5b5c5;
}
.card-md{
    height:300px;
}
.card-lg{
    height:450px;
}
.card-md:hover,
.card-md:focus,
.card-md:active{
    border: 1px solid #2980b9;
}
.header-card{
    padding:10px;
}
.content-card{
    padding:10px;
    font-size:14px;
  
    overflow:hidden;
    color:#7b7b7b;
}
.content-card-md{
    height:150px;
}
.footer-card{
    
    margin-top:22px;
    padding:10px;
    border-top:1px solid #dfe1e2;
}
.step-number{
    margin-top:25px;
    color:#a5b5c5;
    text-align:center;
    font-size:16px;
    font-family:Calibri;
}
.step-title{
    text-align:center;
    font-size:24px;
    color: #404040;
    
}
.add-poll{
    margin-top:50px;
}

.footer-card > .row > .orange{
    color:#e67e22;
}
.footer-card > .row > .blue{
    color:#3498db;
}
.footer-card > .row > .red{
    color:#e74c3c;
}
.choose-type  .col-lg-offset-1 {
    margin-left: 6.3%;
}

.btn-install {
  outline:none;
  color: #a5b5c5;
  background-color: #ffffff;
  border-color: #a5b5c5;
}
.btn-install:focus,
.btn-install.focus {
  color: #8f8f8f;
  outline:none;
  background-color: #e2e6eb;
  border-color: #d7dce0;
}
.btn-install:hover {
  color: #8f8f8f;
  outline:none;
  background-color: #e2e6eb;
  border-color: #d7dce0;
}
.btn-install:active,
.btn-install.active,
.open > .dropdown-toggle.btn-install {
  color: #8f8f8f;
  outline:none;
  background-color: #e2e6eb;
  border-color: #d7dce0;
}
.btn-install:active:hover,
.btn-install.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-install:active:focus,
.btn-install.active:focus,
.open > .dropdown-toggle.btn-install:focus,
.btn-install:active.focus,
.btn-install.active.focus,
.open > .dropdown-toggle.btn-install.focus {
   color: #8f8f8f;
   outline:none;
  background-color: #e2e6eb;
  border-color: #d7dce0;
}
.btn-install:active,
.btn-install.active,
.open > .dropdown-toggle.btn-install {
  background-image: none;

}
.btn-install.disabled:hover,
.btn-install[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-install.disabled:focus,
.btn-install[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-install.disabled.focus,
.btn-install[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  
  background-color: #e2e6eb;
  outline:none;
  border-color: #d7dce0;
}
.btn-install .badge {
  color: #337ab7;
  background-color: #fff;
}
.secure_code{
    margin-top:30px;
    margin-bottom:30px;
    border:1px solid #dfe1e2;
    color:#1abc9c;
    padding-bottom:10px;
}
.card > .content-card  .input-group > .input-group-addon{
    background:#e2e6eb;
    
}
.card > .content-card  .input-group > .form-control{
    border:1px solid #e2e6eb;  
    font-weight:normal;
}
.card > .content-card .input-group > .form-control:hover,
.card > .content-card  .input-group > .form-control:focus,
.card > .content-card  .input-group > .form-control:active {
    outline:none;
    box-shadow:none;
}
.foto-small{
    width:40px;
    height:40px;
    margin-right:20px;
}
.added-user{
    margin-bottom:20px;
    font-size:18px;
    color:#8f8f8f;
    font-weight:normal;
}
.added-user  .close{
    margin-top:10px;
    color:#e74c3c;
}
.added-user .title{
    margin-top:7.5px;
}


/*---------------------------------------------*/
/*----------------MOBILE DESIGN----------------*/
/*---------------------------------------------*/
@media all and (min-width: 1600px) {
    .macbook {
        text-align: center;
    }

    .header-block {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

@media all and (min-width: 1200px) and (max-width: 1599px) {
    .modal-dialog {
        margin: 5% auto;
    }
    .header-block {
        margin-top: 7%;
        margin-bottom:7%;
    }
    .macbook {
        text-align: center;
    }
}

@media all and (min-width: 980px) and (max-width: 1199px) {
    .modal-dialog {
        margin: 5% auto;
    }
    .header-block {
        margin-top: 7%;
        margin-bottom:7%;
    }
    .macbook {
        text-align: center;
    }
}

@media all and (min-width: 768px) and (max-width: 979px) {
     .modal-dialog {
        margin: 5% auto;
     }
     .header-block {
        margin-top: 5%;
        margin-bottom:5%;
    }
    .ipad {
        text-align: center;
    }
}
li > #signInBtn{
    margin-top:2px;
}
@media all and (max-width: 480px) {
    
    .button-create{
        margin-top:-40px;
    }
    .navbar-collapse {
        background: rgba(44,62,80,0.7);
    }
    #logo{
        margin-top:-10px;
    }
    #header {
        height: 100vh;
    }
    .header-block {
        margin-top: 20%;
        margin-bottom:10%;
    }
    .big{
        font-size: 45px;
        font-weight: bold;
    }
    .moreinfocol{
        text-align:center;
        border-bottom: 1px solid #8e8f8f;
    }
    .moreinforow{
        margin:10px;
        padding:5px;
        text-align:center;
    }
    .icon-about{
        margin:0px;
        height:128px;
    }

    .iphone {
        text-align: center;
        position: initial;
    }
}

@media all and (min-width: 481px) and (max-width: 767px) {
    .button-create{
        margin-top:-40px;
    }
   .navbar-collapse {
        background: rgba(44,62,80,0.7);
    }
    #logo{
        margin-top:-10px;
    }
    #header {
        height: 100vh;
    }
    .header-block {
        margin-top: 20%;
        margin-bottom:10%;
    }
    .big{
        font-size: 45px;
        font-weight: bold;
    }
    .moreinfocol{
        text-align:center;
        border-bottom: 1px solid #8e8f8f;
    }
    .moreinforow{
        margin:10px;
        padding:5px;
        text-align:center;
    }
    .icon-about{
        margin:0px;
        height:128px;
    }

    .iphone {
        text-align: center;
        position: initial;
    }
}
