
@font-face{
	font-family: OpenSans;
	src:url(../../fonts/OpenSans-Regular.ttf);
}
body{
	padding: 0;
	margin: 0;
	background: #ffffff;
	font-family: OpenSans;
}
a{
    color:#ffffff;
}
.center{
    text-align:center;
}
.last{
    margin:0!important;
}
.description{
    margin-bottom:25px;
}
#about, #feedback, #wrapper{
    padding-top:35px;
    padding-bottom:35px;
}
.text{
    background:none;
    text-decoration:none;
    cursor:default;
}
.text:hover{
    background:#fff;
    text-decoration:none;
    cursor:default;
}
.text > a{
     background:none;
    text-decoration:none;
    cursor:default;
}
.text > a:hover{
    background:#fff;
    text-decoration:none;
    cursor:default;
}
/*---------------------------------------------*/
/*--------------HEADER SECTION-----------------*/
/*---------------------------------------------*/
.portrait-mini{
    height:30px;
    margin: 5px 5px 0px 5px;
}
#header{
    padding-top:20px;
    min-height:100%;
    color:white;
    padding-bottom:20px;
    height: 75vh;
    background:url(../images/bg3.jpg);
    background-position-x:center;
    background-position-y:center;
    background-attachment:fixed;
    background-size:cover;
}
#navigation {
    background: #2c3e50;
}
.scroll-button{
    background:url(../images/computer147.png);
    border:none;
    opacity:0.5;
    width:45px;
    height:45px;
    background-position:center;
    background-repeat:no-repeat;
    
}
.scroll-button:hover{
    background:url(../images/computer147.png);
    border:none;
    opacity:1;
    width:45px;
    height:45px;
    background-position:center;
    background-repeat:no-repeat;
    
}
.scroll-button:focus, .scroll-button:active{
    border:none;
}
.scroll-button:active{
    border:none;
}
.right-menu{
    line-height:0px;
}
.btn-right-menu{
    margin-left:10px;
}
.btn-menu {
    line-height:1.4;
    background:none;
    border:1px solid transparent;
    padding: 5px 12px;
    font-size:15px;
    font-weight:normal;
    border-radius:3px;
}
.btn-menu:hover{
    line-height:1.4;
    background:none;
    border:1px solid #8e8f8f;
    padding: 5px 12px;
    font-size:15px;
    font-weight:normal;
}
.btn-menu:active{
    line-height:1.4;
    background:none;
    border:1px solid #8e8f8f;
    padding: 5px 12px;
    font-size:15px;
    font-weight:normal;
}
.btn-menu:focus{
    line-height:1.4;
    background:none;
    border:1px solid #8e8f8f;
    padding: 5px 12px;
    font-size:15px;
    font-weight:normal;
}
#logo{
    margin-right:75px;
    margin-top:0px;
    text-align:left;
}

.header-content{
    display:inline-block;
    vertical-align:middle;
    margin-top:12%;
}
.header-content p{
    text-align:left;
}
.authbar{
    line-height:45px;
    text-align:right;
}

.button-create{
    font-size:16px;
    width:220px;
    height:50px;
    font-weight:bolder;
    
    background:none;
    border:2px solid #34495e;
    border-radius:3px;
    color:#34495e
}
.button-create:hover{
    font-size:16px;
    width:220px;
    height:50px;
    font-weight:bolder;
    color:#34495e;
    background:rgba(255,255,255,0.3);
    border:2px solid #34495e;
    border-radius:3px;
}
.createpoll{
    margin-top:90px;
    text-align:center;
}
.textbox{
    margin-bottom:15px;
}

/*---------------------------------------------*/
/*--------------MACBOOK SECTION----------------*/
/*---------------------------------------------*/
#wrapper{
    color:#34495e;
}

.iphone{
    position:absolute;
    top:88px;
    left:530px;
}

/*---------------------------------------------*/
/*----------------ABOUT SECTION----------------*/
/*---------------------------------------------*/
#about{
    background:#edeeef;
    color:#34495e;
}

.moreinforow{
    margin-top:25px;
}

.moreinfobutton{
    height:52px;
    width:202px;
    background:none;
    border:1px solid #000000;
    color:#000000;
    margin-bottom:25px;
}
.moreinfobutton:hover{
    border:1px solid #8e8f8f;
    background:rgba(0,0,0,0.4);
    color:#ffffff;
}

.icon-about[align=left]{
    margin-right:20px;
}
.icon-about[align=right]{
    margin-left:20px;
}
.moreinfo{
    text-align:center;
}
/*---------------------------------------------*/
/*--------------FEEDBACK SECTION---------------*/
/*---------------------------------------------*/
#feedback{
   
    padding-top:20px;
}
.portrait{
    width:150px;
    height:150px;
    margin:20px;
}
.feedback-text{
    margin-top:20px;
}
#feedback description{
    color:#34495e;
}
.carousel-inner{
    color:#777;
}
/*---------------------------------------------*/
/*---------------FOOTER SECTION----------------*/
/*---------------------------------------------*/
#footer{
   background:#2c3e50;
    
}
/*---------------------------------------------*/
/*----------------MOBILE DESIGN----------------*/
/*---------------------------------------------*/
@media all and (min-width: 1600px) { 
    .macbook{
    text-align:center;
    }
    .scroll-button{
    margin-top:30%;
    }
}
@media all and (min-width: 1200px) and (max-width: 1599px) { 
    .macbook{
    text-align:center;
    }
    .scroll-button{
    margin-top:0;
    }
}
@media all and (min-width: 980px) and (max-width: 1199px) {
    .macbook{
    text-align:center;
    }
    .ipad{
        text-align:center;
    }
    .createpoll{
        margin-top:80px;
    }
    .scroll-button{
        margin-top:0em;
    }
}
@media all and (min-width: 768px) and (max-width: 979px) {
    .ipad{
    text-align:center;
}
    .createpoll{
        margin-top:80px;
    }
    .scroll-button{
    margin-top:25em;
}
   
}
@media all and (max-width: 480px) {
    #header{
        height:100vh;
    }
     .navbar-default .navbar-nav > li > a {
      color: #fff;
       background:rgba(0,0,0,0.8);
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
      color: #fff;
      background:rgba(0,0,0,0.8);
    }
    .moreinfocol{
        text-align:center;
        border-bottom:1px dashed rgba(26,186,154,1);
    }
    
    .iphone{
        text-align:center;
        position:initial;
    }
    .description > p {
        font-size:12px;
    }
    .description{
        text-align:center;
        padding-top:0px;
    }
    #header{
        padding-top:0;
    }
    #logo{
        text-align:center;
    }
    .authbar{
        text-align:center;
    }
    .createpoll{
        margin-top:10px;
    }
    
}
@media all and (min-width: 481px) and (max-width: 767px) {
    .navbar-default .navbar-nav > li > a {
      color: #fff;
      background:rgba(0,0,0,0.8);
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
      color: #fff;
      background:rgba(0,0,0,0.8);
      border-bottom:2px solid rgba(26,186,154,1);
    }
    .moreinfocol{
        text-align:center;
    }
    .icon-about{
        float:none;
    }
    .iphone{
        text-align:center;
        position:initial;
    }
    .description{
        text-align:center;
    }
    #logo{
        text-align:center;
    }
    .authbar{
        text-align:center;
        margin-top:10px;
    }
    .createpoll{
        margin-top:30px;
    }
    .scroll-button{
    margin-top:25em;
}
}
