
@font-face{
	font-family: OpenSans;
	src:url(../../fonts/OpenSans-Regular.ttf);
}
body{
	padding: 0;
	margin: 0;
	background: #ffffff;
	font-family: OpenSans;

}
a{
    color:#ffffff;
}
#header{
    padding-top:20px;
    color:white;
   
    background: rgba(26,186,154,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(26,186,154,1) 0%, rgba(23,169,140,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(26,186,154,1)), color-stop(100%, rgba(23,169,140,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(26,186,154,1) 0%, rgba(23,169,140,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(26,186,154,1) 0%, rgba(23,169,140,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(26,186,154,1) 0%, rgba(23,169,140,1) 100%);
    background: radial-gradient(ellipse at center, rgba(26,186,154,1) 0%, rgba(23,169,140,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aba9a', endColorstr='#17a98c', GradientType=1 );
}
#logo{
   
    text-align:left;
}
.authbar{
    
    line-height:45px;
    text-align:right;
}
.row{
    
}
.description{
    padding-top:30px;
}
.button-create{
    font-size:16px;
    width:220px;
    height:50px;
    font-weight:bolder;
    color:white;
    background:none;
    border:2px solid #f39c12;
    border-radius:3px;
}
.button-create:hover{
    font-size:16px;
    width:220px;
    height:50px;
    font-weight:bolder;
    color:#f39c12;
    background:rgba(255,255,255,0.7);
    border:2px solid rgba(255,255,255,0.3);
    border-radius:3px;
}
.createpoll{
    margin-top:90px;
    text-align:center;
}
#wrapper{
    color:#34495e;
    
}
.iphone{
    position:absolute;
    top:88px;
    left:530px;
}
#about{
    
    background:#f4ffff;
    color:#34495e;
}
.moreinforow{
    margin-top:25px;
}
/*.moreinforow p{
    text-align:justify;
}*/
.moreinfobutton{
    height:52px;
    width:202px;
    background:none;
    border:1px solid #5fceca;
    color:#5fceca;
    margin-bottom:25px;
    
}
.icon-about[align=left]{
    margin-right:20px;
}
.icon-about[align=right]{
    margin-left:20px;
}
.moreinfo{
    text-align:center;
}
@media all and (min-width: 1200px) { 
    .macbook{
    text-align:center;
    }
}
@media all and (min-width: 980px) and (max-width: 1199px) {
    .macbook{
    text-align:center;
}
    .createpoll{
        margin-top:80px;
    }
}
@media all and (min-width: 768px) and (max-width: 979px) {
    .ipad{
    text-align:center;
}
    .createpoll{
        margin-top:80px;
    }
}
@media all and (max-width: 480px) {
    
    .iphone{
        text-align:center;
        position:initial;
    }
    .description > p {
        font-size:12px;
    }
    .description{
        text-align:center;
        padding-top:0px;
    }
    #header{
        padding-top:0;
    }
    #logo{
        text-align:center;
    }
    .authbar{
        text-align:center;
    }
    .createpoll{
        margin-top:10px;
    }
    
}
@media all and (min-width: 481px) and (max-width: 767px) {
    
    .iphone{
        text-align:center;
        position:initial;
    }
    .description{
        text-align:center;
    }
    #logo{
        text-align:center;
    }
    .authbar{
        text-align:center;
        margin-top:10px;
    }
    .createpoll{
        margin-top:30px;
    }
}