@{Layout= "~/Views/Shared/_Layout.cshtml";}
    <script src="~/Scripts/front-end/animate.js"></script>  
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-modal.js"></script>
    <script src="~/Scripts/animate-colors.js"></script>
    <script src="~/Scripts/front-end/navigation-scroll.js"></script>


    <!--AUTH MODAL BLOCK -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="center">
                    <img src="~/Content/images/pollylogogreen.png" />
                </div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">SIGN IN</h4>
                </div>
                <form action="" method="POST">
                    <div class="modal-body">
                        <div class="input-group input-group-lg textbox">
                            <span class="input-group-addon" id="sizing-addon1"><img src="~/Content/images/email.png" /></span>
                            <input type="email" class="form-control" placeholder="E-mail" aria-describedby="sizing-addon1">
                        </div>
                        <div class="input-group input-group-lg textbox">
                            <span class="input-group-addon" id="sizing-addon1"><img src="~/Content/images/password.png" /></span>
                            <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <small>If you don't have account, you can register</small>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#register" data-dismiss="modal">SIGN UP</button>
                        <button type="submit" class="btn btn-default">SIGN IN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
     <!--REGISTER MODAL BLOCK -->
    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">SIGN UP</h4>
                </div>
                <form action="" method="POST">
                    <div class="modal-body">
                        <div class="input-group input-group-lg textbox">
                            <span class="input-group-addon" id="sizing-addon1"><img src="~/Content/images/user.png" /></span>
                            <input type="text" class="form-control" placeholder="First name" aria-describedby="sizing-addon1">
                        </div>
                        <div class="input-group input-group-lg textbox">
                            <span class="input-group-addon" id="sizing-addon1"><img src="~/Content/images/user.png" /></span>
                            <input type="text" class="form-control" placeholder="Second name" aria-describedby="sizing-addon1">
                        </div>
                        <div class="input-group input-group-lg textbox">
                            <span class="input-group-addon" id="sizing-addon1"><img src="~/Content/images/email.png" /></span>
                            <input type="email" class="form-control" placeholder="E-mail" aria-describedby="sizing-addon1">
                        </div>
                        <div class="input-group input-group-lg textbox">
                            <span class="input-group-addon" id="sizing-addon1"><img src="~/Content/images/password.png" /></span>
                            <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1">
                        </div>
                        <div class="input-group input-group-lg textbox">
                            <span class="input-group-addon" id="sizing-addon1"><img src="~/Content/images/password.png" /></span>
                            <input type="password" class="form-control" placeholder="Confirm password" aria-describedby="sizing-addon1">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <small>Maybe you already had account, sign in please.</small>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#login" data-dismiss="modal">SIGN IN</button>
                        <button type="submit" class="btn btn-success">SIGN UP</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--HEADER-->
    <div id="header" class="container-fluid">

        <nav class="navbar navbar-default navbar-fixed-top" id="navigation">
            <div class="container-fluid">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" id="logo" href="/"><img src="~/Content/images/pollylogogreen.png" /></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#">CONSTRUCTOR</a></li>
                            <li><a href="#">API</a></li>
                            <li><a href="#">DOCS</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right right-menu">
                            <li><button type="button" class="btn btn-default btn-right-menu" data-toggle="modal" data-target="#login">SIGN IN</button></li>
                            <li><button type="button" class="btn btn-success  btn-right-menu" data-toggle="modal" data-target="#register">SING UP</button></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </div><!-- /.container-fluid -->
        </nav>

        <div class="container" id="header-block">

            <div class="row header-content">

                <div class="col-lg-7 col-lg-offset-1 description post">
                    <h1 class="hidden-xs visible-lg visible-md visible-sm">WE CREATE SURVEYS AND POLLS</h1>
                    <h3 class="visible-xs hidden-lg hidden-md hidden-sm">WE CREATE SURVEYS AND POLLS</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-lg-offset-7 col-md-2 col-md-offset-6 col-sm-3 col-sm-offset-5 hidden-xs visible-sm visible-md visible-lg post">
                    <img src="~/Content/images/strelka_free.png" />
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 createpoll post">
                    <input type="button" class="button-create" value="Сreate poll" />
                </div>

            </div>
            <div class="row  hidden-xs visible-sm visible-md visible-lg">
                <div class="col-lg-12 moreinfo">
                    <a href="#wrapper"><input type="button" class="scroll-button" value="" /></a>
                </div>
            </div>

            </div>
            </div>
    <!--WRAPPER-->       
    <div id="wrapper" class="container-fluid">
        <div class="container" id="wrapper-block">
            <div class="row">
                <div class="col-lg-11 col-lg-offset-1 col-md-11 description">
                    <h1 class="hidden-xs visible-lg visible-md visible-sm">EASY TO USE AND QUICK RESPONSE</h1>
                    <h3 class="visible-xs hidden-lg hidden-md hidden-sm">EASY TO USE AND QUICK RESPONSE</h3>
                    <p><small>Получение ответов в 2 клика</small></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 сol-sm-12 сol-xs-12 divices" id="macbook">
                    <div class="macbook hidden-sm hidden-xs visible-lg visible-md post last">
                        <img src="~/Content/images/mac-830.png" />
                    </div>
                    <div class="ipad  visible-sm hidden-xs hidden-lg hidden-md post">
                        <img src="~/Content/images/ipad.png" />
                    </div>
                    <div class="iphone  hidden-sm visible-xs hidden-lg hidden-md">
                        <img src="~/Content/images/iphone6.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--ABOUT US-->
    <div id="about" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-11 col-lg-offset-1 col-md-11 description">
                    <h1 class="hidden-xs visible-lg visible-md visible-sm">ПОЧЕМУ ИМЕННО МЫ ...?</h1>
                    <h3 class="visible-xs hidden-lg hidden-md hidden-sm">ПОЧЕМУ ИМЕННО МЫ ...?</h3>
                </div>
            </div>
            <div class="row moreinforow" id="aboutfirst">
                <div class="col-lg-4 col-lg-offset-1 col-md-5 col-md-offset-0 col-sm-6 col-xs-12 moreinfocol post">

                    <img src="~/Content/images/api.png" align="left" class="icon-about hidden-xs" />
                    <img src="~/Content/images/api.png" class="icon-about hidden-sm hidden-md hidden-lg" />

                    <h3>API</h3>
                    <p><small>Мы предоставляем свое API, которое Вы можете разместить на сайте вашей компании</small> </p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-2 col-sm-6 col-xs-12 moreinfocol post">
                    <img src="~/Content/images/currency-icon.png" align="right" class="icon-about hidden-xs" />
                    <img src="~/Content/images/currency-icon.png" class="icon-about hidden-sm hidden-md hidden-lg" />
                    <h3 class="hidden-xs visible-lg visible-md visible-sm" align="right">Это бесплантно</h3>
                    <p class="hidden-xs visible-lg visible-md visible-sm" align="right"><small>POLLY - это бесплатный сервис для создания опросов</small></p>
                    <h3 class="visible-xs hidden-lg hidden-md hidden-sm" align="center">Это бесплантно</h3>
                    <p class="visible-xs hidden-lg hidden-md hidden-sm" align="center"><small>POLLY - это бесплатный сервис для создания опросов</small></p>
                </div>

            </div>
            <div class="row moreinforow" id="aboutsecond">
                <div class="col-lg-4 col-lg-offset-1 col-md-5 col-md-offset-0 col-sm-6 col-xs-12 moreinfocol post">
                    <img src="~/Content/images/ok-shield-icon.png" align="left" class="icon-about hidden-xs" />
                    <img src="~/Content/images/ok-shield-icon.png" class="icon-about hidden-sm hidden-md hidden-lg" />
                    <h3>Приватность</h3>
                    <p><small>Все опросы и голосования остаются конфидециальными</small></p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-2 col-sm-6 col-xs-12 moreinfocol post ">
                    <img src="~/Content/images/about.png" align="right" class="icon-about hidden-xs" />
                    <img src="~/Content/images/about.png" class="icon-about hidden-sm hidden-md hidden-lg" />
                    <h3 class="hidden-xs visible-lg visible-md visible-sm" align="right">Удобство</h3>
                    <p class="hidden-xs visible-lg visible-md visible-sm" align="right"><small>Мы предоставляем свой простой и удобный конструктор для создания различных типов опросов</small></p>
                    <h3 class="visible-xs hidden-lg hidden-md hidden-sm" align="center">Удобство</h3>
                    <p class="visible-xs hidden-lg hidden-md hidden-sm" align="center"><small>Мы предоставляем свой простой и удобный конструктор для создания различных типов опросов</small></p>
                </div>

            </div>
            <div class="row moreinforow">
                <div class="col-lg-12 moreinfo post last">
                    <input type="button" class="moreinfobutton" value="ПОДРОБНЕЕ" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid visible-lg visible-md hidden-sm hidden-xs" id="feedback">
        <div class="container">
            <div class="row">
                
            </div>
            <div class="row center">
               
                <div>
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <blockquote class="blockquote-reverse">
                                    <img src="~/Content/images/foto_koc.jpg" alt="first" class="img-circle portrait">
                                    <div class="carousel-caption">
                                        <h2><small>KOTS GRIGORIY PAVLOVICH</small> </h2>
                                        <h5><small>Dean of the Faculty of Economic Informatics</small></h5>

                                        <p class="feedback-text">
                                            "This is a fantastic project which I use both for personal purposes and for purposes of the University.
                                            Polly - incredibly easy to use , in that each user will not even be able to use experienced this service without any problems."
                                        </p>

                                    </div>
                                </blockquote>
                            </div>
                            <div class="item">
                                <blockquote class="blockquote-reverse">
                                    <img src="~/Content/images/foto_alexander.jpg" alt="second" class="img-circle portrait">
                                    <div class="carousel-caption">
                                        <h2><small>ANISCHIK ALEKSANDER OLEGOVICH</small> </h2>
                                        <h5><small>.NET Developer</small></h5>

                                        <p class="feedback-text">
                                            "This is a fantastic project which I use both for personal purposes and for purposes of the University."
                                        </p>

                                    </div>
                                </blockquote>
                            </div>
                            <div class="item">
                                <blockquote class="blockquote-reverse">
                                    <img src="~/Content/images/foto_artem.jpg" alt="third" class="img-circle portrait">
                                    <div class="carousel-caption">
                                        <h2><small>MOZHAROV ARTEM ALEKSEEVICH</small> </h2>
                                        <h5><small>Front-end Developer</small></h5>

                                        <p class="center">
                                            "This is a fantastic project which I use both for personal purposes and for purposes of the University.
                                            Polly - incredibly easy to use , in that each user will not even be able to use experienced this service without any problems."
                                        </p>

                                    </div>
                                </blockquote>
                            </div>

                        </div>

                        <!-- Controls -->
                        <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
