
        <!DOCTYPE html>

        <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title>@ViewBag.Title</title>
            <link rel="stylesheet" href="~/Content/bootstrap.css" />
            <link rel="stylesheet" href="~/Content/css/dashboard.css" />
            <link rel="stylesheet" href="~/Content/css/animate.css" />
            <link rel="icon" href="~/favicon.ico" type="image/x-icon">
            <script src="~/Scripts/jquery-1.11.3.js"></script>
            <script src="~/Scripts/angular.min.js"></script>
            <script src="~/Scripts/angular.js"></script>
            <script src="~/Scripts/angular-route.min.js"></script>
        </head>
        <body>
            <script src="~/Scripts/holder.min.js"></script>
            @RenderBody()
        </body>
        </html>
    
