<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <title>PollY</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script src="~/Scripts/angular/jquery-2.1.4.js"></script>
    <script src="~/Scripts/angular/angular.min.js"></script>
    <script src="~/Scripts/App/homeController.js"></script>
    <script src="~/Scripts/App/app.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>