<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>POLLY</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <script src="~/Scripts/jquery-1.11.3.js"></script>
    <!--<script src="~/Scripts/jquery-1.7.1.min.js"></script>-->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/App/app.js"></script>
    <script src="~/Scripts/App/homeController.js"></script>
    <script src="~/Scripts/front-end/scroll-to.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>