@using System
@{

    ViewBag.Title = "Page Not Found";
}

<section class="fullpage page404 container-fluid text-center">

    <h1>Could not find the page<br /><br /><br />@ViewBag.RequestedUrl</h1>
    @if (ViewBag.ReferrerUrl != null)
    {
        <p>Go back to the <a href="@ViewBag.ReferrerUrl">previous page</a>.</p>
    }
</section>